<div class="post-header">
    <p class="title">
        <% if (post.title) { %>
        <%= post.title %>%>
        <% } else { %>
        Missing Title!
        <% } %>
    </p>

    <div class="metadata">
        <time datetime="<%= date_xml(page.date) %>" itemprop="datePublished">
            <div class="name">Posted</div>
            <div class="date"><%= full_date(post.date, 'MMM D, YYYY') %></div>
            <div class="time"><%= full_date(post.date, 'h:mm A') %></div>
            <div class="timezone"><%= full_date(post.date, 'UTCZ') %></div>
        </time>
        <div class="categories">
            <% post.categories.each(function(category) { %>
                <a class="category" href="<%= url_for(category.path) %>"><%= category.name %></a>
            <% }) %>
        </div>
    </div>
</div>