<section class="section archive">
    <div class="container">
        <div class="box">
            <% page.posts.each(function(post) { %>
            <article class="entry media">
                <div class="media-content">
                    <%- partial('partial/post-header', {post} ) %>
                    <div class="content">
                        <%- post.excerpt %>
                    </div>
                </div>
                <div class="media-right">
                    <a class="button" href="<%= url_for(post.path) %>">Read</a>
                </div>
            </article>
            <% }) %>
        </div>
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
            <a class="pagination-previous" <% if (page.prev_link) { %> href="<%= url_for(page.prev_link) %>"
                <% } else { %> disabled <% } %>>Previous</a>
            <a class="pagination-next" <% if (page.next_link) { %> href="<%= url_for(page.next_link) %>" <% } else { %>
                disabled <% } %>>Next page</a>
            <ul class="pagination-list">
                <% for (i = 1; i <= page.total; ++i) { %>
                <li><a class="pagination-link<% if(i === page.current) { %> is-current<% } %>" <% if (i === 1) { %>
                        href="/archives/" <% } else { %> href="/archives/page/<%= i %>" <% } %>
                        aria-label="Goto page <%= i %>"><%= i %></a></li>
                <% } %>
                <!-- <li><span class="pagination-ellipsis">&hellip;</span></li> -->
            </ul>
        </nav>
    </div>
</section>